/*!
 *
 * brock patterson hello base
 *
 */

html, body{height:100%;}

.image-container{
  width:100%;
  height:auto}

.image-container .image {
  width:100%;
  height:auto;
  display: block;
  position: relative;
  background-attachment: fixed; //bigger scroill
  background-repeat: no-repeat center;
  background-size: cover;
  padding-bottom: 56.25%;
  opacity: 0;
  transition: opacity 2.6s ease;
  transition-delay: 0.8s;}

.image-container.add-fade .image {
  opacity: 1;}

.intro, .resumeskills {
  overflow:hidden;
  z-index:1;
}
.statement, .timeline {
  background-attachment: scroll;
  background-repeat: repeat-x
}
.icon-html5, .icon-css3, .icon-javascript,
.icon-ruby-on-rails, .icon-mysql, .fa-github,
.icon-npm, .icon-line-graph, .fa-image {
  font-size: 100px;
}
.fa-github, .fa-image{height:130px; margin-top:15px}
.fa-download{font-size:25px}

#skill-html5, #skill-css3, #skill-javascript,
#skill-ruby-on-rails, #skill-mysql, #skill-github,
#skill-npm, #skill-analytics, #skill-design {
  display: block;
  visibility: hidden;
}

// .image-container h3{position: absolute;left:20%;bottom:3%}

//COLORS ETC..
*{font-weight:100 !important; color:$base-1b}
a{color:$base-1d}
a:hover{color:$base-1d}
.color-icon{color:$base-1b}
.skill-title {color: $base-1c}
.fa-ul li{color: $base-1d}
.intro, .statement, .resumeskills, .timeline{
  background-color: $base-2a}
hr.hr-skills, hr.hr-background{width: 95%;border: 0;height: 1px; background-image: linear-gradient(90deg, $base-1a, $base-2b, $base-1a)}
.color-a{ color: $base-1c !important}
.color-b{ color: $base-1d}
.font-500{font-weight:500 !important;}
.font-300{font-weight:300 !important;}
.w-80-m-0-a{width:80%; margin:0 auto}
.m-b-0{margin-bottom:0}
.m-l-10{margin-left:10px}
.p-20{padding:20px}
