<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-expand m-auto navbar-text">

      <a download="brock-patterson-resume.pdf.zip" target="_blank" href="assets/brock-patterson-resume.pdf.zip"
        class='m-lr-10'
        ngbTooltip="download my resume" placement="left">
          <fa-icon [icon]="faFileDownload" [classes]="['color-1b', 'font-size20']"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/brockcp/"
        target="-blank" class='m-lr-10'
        ngbTooltip="LinkedIn" placement="top">
          <fa-icon [icon]="faLinkedin" [classes]="['color-1b', 'font-size20']"></fa-icon>
      </a>
      <a href="https://github.com/brockcp"
        target="-blank" class='m-lr-10'
        ngbTooltip="Github" placement="top">
          <fa-icon [icon]="faGithub" [classes]="['color-1b', 'font-size20']"></fa-icon>
      </a>
      <a href="mailto:brockpatterson@gmail.com"
        class="m-lr-10"
        ngbTooltip="email me" placement="right">
          <fa-icon [icon]="faEnvelope" [classes]="['color-1b', 'font-size20']"></fa-icon>
      </a>

  </div>
</nav>
