<div id="works">

  <div class="works-image"></div>

  <div class="container-fluid bg-color-1">

    <div class="col-xs-12 col-md-8 offset-md-2 p-t-30">
      <p class="color-1a font-size26 font-200">Build website after website, and perhaps even an app. That is my goal. Here are a few I've already done:
      </p>
    </div>
    <hr class="hr-background">


    <h1 class="text-center font-300 p-20 color-1a">Works</h1>
    <!-- <hr class="hr-background"> -->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <ul class="p-l-xs25p-sm33p">
          <li><a href="http://eigopost.herokuapp.com" target="_blank" class="font-size26 linkcolor-1a">Eigopost</a></li>
          <li><a href="http://www.ocwebworks.com" target="_blank" class="font-size26 linkcolor-1a">OCwebworks</a></li>
          <li><a href="http://www.teboconsulting.com" target="_blank" class="font-size26 linkcolor-1a">Tebo Consulting</a></li>
          <li><a href="http://www.wojtekkfineart.com" target="_blank" class="font-size26 linkcolor-1a">Wojtekk Fine Art</a></li>
          <li><a href="http://ocwebworks.com//works/wordpress/" target="_blank" class="font-size26 linkcolor-1a">Wordpress Theme</a></li>
          <li><a href="http://ocwebworks.com//works/kimmyvilla/" target="_blank" class="font-size26 linkcolor-1a">Kimmyvilla (archived)</a></li>
          <li><a href="http://www.hi-tech-products.com" target="_blank" class="font-size26 linkcolor-1a">Hi Tech Products</a></li>
          <li><a href="http://brockjams-angular.herokuapp.com" target="_blank" class="font-size26 linkcolor-1a">Brock Jams</a></li>
          <li><a href="http://brockit.herokuapp.com" target="_blank" class="font-size26 linkcolor-1a">Brockit</a></li>
          <li><a href="http://brockpedia.herokuapp.com" target="_blank" class="font-size26 linkcolor-1a">Brockpedia</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
