/////SECTION INTRO
#resumeintro {
    background-image: url(../img/bggradient.png);
    color: #ffffff;
    overflow:hidden;
    position:relative;
    z-index:1;
}
.intro-container {
    height: 360px;
}
.introSub-container {
    display: block;
    height: 130px;
}


//RESUMEINTERMISSION-CHICKS
.resumeintermission-chicks {
    background-image: url(../img/sam.jpg);
    color: #fff;
    display: block;
    position: relative;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 250px;
}
@media (min-width:500px) {
    .resumeintermission-chicks{
        height:500px;
    }
}
@media (min-width:1025px) {
    .resumeintermission-chicks {
        background-attachment: fixed;
        height: 400px;
    }
}

//SECTION RESUMEPERSONALSTATEMENT
#resumepersonalstatement {
    color: #fff;
    background-color: #33aa77;
    background-attachment: scroll;
    background-repeat: repeat-x
}

//INTERMISSION-LESSONS
.resumeintermission-lessons {
    background-image: url(../img/lessons.jpg);
    color: #fff;
    display: block;
    position: relative;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 250px;

}
@media (min-width:500px) {
    .resumeintermission-lessons {
        height:500px;
    }
}
@media (min-width:1025px) {
    .resumeintermission-lessons {
        background-attachment: fixed;
        height:450px;
    }
}


/////SECTION SKILLS
#resumeskills {
    background: #FFBB11;
    overflow:hidden;
}
#resumeskills h1{
    color:#CC0033;
    
}
hr.hr-skills {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #CC0033, #99DDBB, #CC0033)
}
.col-sm-4 {
    margin: 20px 0;
    height:400px;
}
@media (min-width:768px) {
    .col-sm-4 {
        margin: 2px 0;//for decrease 
        width: 50%;
    }
}
@media (min-width:992px) {
    .col-sm-4 {
        width: 33.33333333%;
    }
}

.fa-html5,
.fa-css3,
.icon-javascript-alt,
.fa-picture-o,
.icon-wordpress,
.icon-mobile-device,
.fa-code,
.fa-search,
.fa-bug,
.fa-line-chart,
.fa-github,
.fa-exchange{
    height: 100px;
    width: 120px;
    font-size: 100px;
    margin-left: 30px;
    color: #cc0033;
}

.fa-cog {
    color: #cc6644;
}

.fa-ul li {
    color: #cc1122;
    font-size: 18px
}

.iconTitle {
    font-size: 22px;
    display: block;
    vertical-align: 50%;
    margin-left: 15px;
    color: #222;
}
@media (min-width:992px) {
.iconTitle {
    //display: block
}
}

#skill-html5,
#skill-css3,
#skill-javascript-alt,
#skill-picture-o,
#skill-wordpress,
#skill-mobile-device,
#skill-code,
#skill-search,
#skill-bug,
#skill-line-chart,
#skill-github,
#skill-exchange{
  display: block;
  visibility: hidden;
}




/////INTERMISSION NIKKO


.resumeintermission-nikko {
    background-image: url(../img/nikko.jpg);
    color: #fff;
    display: block;
    position: relative;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 200px
}
@media (min-width:500px) {
    .resumeintermission-nikko {
        height:500px;
    }
}
@media (min-width:1025px) {
    .resumeintermission-nikko {
        background-attachment: fixed;
        height:400px;
    }
}

/////SECTION RESUMEBACKGROUND

#resumebackground {
    color: #fff;
    background-color: #992233;
    background-attachment: scroll;
    background-repeat: repeat-x;
    padding-bottom: 20px;

}
hr.hr-background {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, red, #fff, red)
}

/////INTERMISSION SAND

.resumeintermission-sand {
    background-image: url(../img/sand.jpg);
    color: #fff;
    display: block;
    position: relative;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 700px
}
@media (min-width:1025px) {
    .resumeintermission-sand {
        background-attachment: fixed
    }
}
.resumeintermission-sand h3 {
    position: absolute;
    left: 20%;
    top: 90%;
    color: #fff
}

/////ETC

h1,
h2,
h3 {
    font-weight: 300;
    line-height: 1.4
}
.bfont {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4
}

a{
    color:#ffffff;
}
a:hover {
    color: #eeeeee;
    text-decoration: none;
}
 
.bgithub{
    color:#cc0033;
}
.bgithub:hover{
    color:#cc3333;
    
}

#resumeskills i.fa-chevron-down{
    color:#cc0033;
}
#resumepersonalstatement i.fa-chevron-down{
    color:#ffffff;
}
