/*!
 * brock patterson hello base colors
 *
 *
 */
$base-1a: #ffcc00 !default ;
$base-1b: lighten($base-1a, 20%) !default;
$base-1c: lighten($base-1a, 35%) !default;
$base-1d: darken($base-1a, 5%) !default;
$base-2a: #666666 !default ;
$base-2b: darken($base-2a, 10%) !default;
$base-2b: lighten($base-2a, 10%) !default;
