<div class="container-fluid bg-color-1 p-20">
  <div class="row">
    <div class="col text-center">
      <h1 class="font-size40 font-300 color-1a">Hello!</h1>
      <h2 class="stretchRight animated font-size36">My name is <span class="font-500 color-1b">Brock</span>.</h2>
      <h2 class="stretchLeft animated font-size36">I am a <span class="font-300 color-1b">Front End </span> <span class="font-300 color-1c">Web Developer</span>...</h2>
      <h2 class="stretchRight animated font-size26">in South Orange County, California</h2>
      <h2 class="text-center introSub-container"></h2>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
</div>

<div id="hero-image"></div>

<div class="container-fluid bg-color-1 p-20">
  <h1 class="text-center font-size40 font-300 color-1a">Fascination!</h1>
  <hr class="hr-skills">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <p class="font-size26 font-200 line-height-13">
        <span class="font-size30 font-200 color-1b">One day in 2009 I found myself staring into the browser on my computer screen and wondering just what in the world was going on in there. </span>
        <span class="font-size30 font-200 color-1c">It seemed a good way to find out might be to try and build a website. And so I did...</span><br>
        <span class="font-size30 font-200 color-1b">Well, ten years have passed and I still feel like that fascinated boy every time I learn/build something new in web development.</span>
      </p>
    </div>
  </div>
</div>
