*{ font-weight:100 !important;} //hack?
html, body{ height:100%}

$base-1a: #ffcc00 !default ; //ffcc00
$base-1b: lighten($base-1a, 20%) !default;
$base-1c: lighten($base-1a, 35%) !default;
$base-1d: darken($base-1a, 5%) !default;
$base-2a: #666666 !default ;
$base-2b: darken($base-2a, 10%) !default;
$base-2c: lighten($base-2a, 10%) !default;
$base-2d: darken($base-2a, 20%) !default;
.color-1a{ color: $base-1c !important }
.color-1b{ color: $base-1b !important }
.color-1c{ color: $base-1a !important }
.color-1d{ color: $base-1d !important }
.color-2a{ color: $base-2c !important }
.color-2b{ color: $base-2a !important }
.color-2c{ color: $base-2b !important }
.color-2d{ color: $base-2d !important }
.bg-color-1 { background: $base-2a !important}
a.linkcolor-1a{color:$base-1c; text-decoration: none;}
a.linkcolor-1a:hover{color:$base-1b}

//MAIN
.font-200{font-weight:200 !important;}
.font-300{font-weight:300 !important;}
.font-500{font-weight:500 !important;}
.font-800{font-weight:800 !important;}
.font-size20{font-size:20px}
.font-size26{font-size:26px}
.font-size30{font-size:30px}
.font-size36{font-size:36px}
.font-size40{font-size:40px}
.font-size100{font-size:100px}
.line-height-13{line-height:1.3}
.w-80-m-0-a{width:80%; margin:0 auto}
.m-t-10{margin-top:10px;}
.m-l-10{margin-left:10px}
.m-lr-10{margin:0 10px}
.p-20{padding:20px}
.p-t-30{padding-top:30px}
.p-b-50{padding-bottom:50px}
.p-l-xs25p-sm33p{padding-left:28%; padding-bottom:10%}
@media(min-width: 576px){
  .p-l-xs25p-sm33p{padding-left:36%; padding-bottom:10%}
}


//NAV
:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
.nav-logo {
  height: 60px;
  width: 60px;
}
.nav-logo:hover {
  cursor: pointer;
}
.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}
.nav-item:hover {
  color: black;
  cursor: pointer;
}


//INTRO
.p-100{
  padding:100px 0
}
.bi-arrow-down-circle{
  margin-top:200px;
  color:gray;
}

//SKILLS
.icon{
  width:30%;
  color:red;
  fill:blue;
}
