html, body{
  height:100%;
  font-family: 'Open Sans', sans-serif;
}

//COLOR SET
$base-1a: #ffcc00 !default ;
$base-1b: lighten($base-1a, 35%) !default; //#FFEEB6
$base-1c: lighten($base-1a, 20%) !default; //#FFDD70
$base-1a: #ffcc00 !default ;               //#FFC92F
$base-1d: darken($base-1a, 5%) !default;   //#E8B529
$base-2a: #666666 !default ;
$base-2b: lighten($base-2a, 10%) !default; //#808080
$base-2c: darken($base-2a, 10%) !default;  //#4D4D4D
$base-2d: darken($base-2a, 20%) !default;  //#333333
.color-1a{ color: $base-1b !important }
.color-1b{ color: $base-1c !important }
.color-1c{ color: $base-1a !important }
.color-1d{ color: $base-1d !important }
.color-2a{ color: $base-2b !important }
.color-2b{ color: $base-2a !important }
.color-2c{ color: $base-2c !important }
.color-2d{ color: $base-2d !important }
.bg-color-1 { background: $base-2a !important}
.bg-color-2 { background: $base-2b !important}
.bg-color-3 { background: $base-2d !important}
a.linkcolor-1a{color:$base-1c; text-decoration: none;}
a.linkcolor-1a:hover{color:$base-1b}
a.linkcolor-2a{color:$base-2b; text-decoration: none;}
a.linkcolor-2a:hover{color:$base-2c}
a.linkcolor-2b{color:$base-2c; text-decoration: none;}
a.linkcolor-2b:hover{color:$base-2d}
a.linkcolor-2c{color:$base-2d; text-decoration: none;}
a.linkcolor-2c:hover{color:#000000}

//MAIN
.font-200{font-weight:200 !important;} //about
.font-300{font-weight:300 !important;} //works
.font-size26{font-size:26px} //works
.font-size30{font-size:30px} //about
.font-size36{font-size:36px} //--
.font-size40{font-size:40px} //--
.font-size100{font-size:100px} //--
.line-height-13{line-height:1.3} //about
.pb-350{padding-bottom:350px;} //works
.m-lr-10{margin:0 10px}  //foot
.pl-40p{padding-left:40%} //skills
.xxx{border: 1px solid yellow}
//NAV
.nav {
  background-color: $base-2a;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
.nav-logo {
  height: 50px;
  width: 50px;
}
.nav-logo:hover {
  cursor: pointer;
}
.nav .nav-content {
  width: 80%;
  padding: 0rem .2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media(min-width: 768px){
  .nav .nav-content{
    padding: 0rem 3rem;
  }
}
ul.nav-items{
  margin-bottom:0; //BP -> CENTER MENU
}
.nav-item {
  display: inline;
  margin-left: 1rem;
  margin-top:2rem;
  color: $base-2d;
  font-size: 20px;
  font-weight:bold;
}
@media(min-width: 768px){
  .nav-item{
    margin-left: 2rem;
  }
}
.nav-item:hover {
  color: $base-2c;
  cursor: pointer;
}
.nav-item .active{
  color:$base-2d !important;
  text-decoration:underline;
}



//INTRO
.intro-p{
  padding-top: 70px;
}
@media(min-width: 768px){
 .intro-p{
   padding-top: 200px;
 }
}
.intro-a{
  color:gray;
  font-size: 30px;
}
.intro-b{
  font-size:32px;
}
.intro-c{
  font-size:36px;
  font-weight: bold;
}
.intro-d{
  font-size:32px;
}
@media(min-width: 576px){
  .intro-a{
     font-size: 30px;
  }
  .intro-b{
    font-size:40px;
  }
  .intro-c{
    font-size:40px;
  }
  .intro-d{
    font-size:34px;
  }
}
.bi-chevron-down{
  margin-top:200px;
  color:gray;
}



//SKILLS
ul.skills-items{
  width:350px;
  margin:0 auto;
  text-align:left;
}
.skills-items li{
  list-style-type: none;
  font-size: 24px;
  color:$base-1d;
}
.icons-container{
  position:relative;
  height:420px; //#$#*!!!
}
.icons-container img{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:400px;
  opacity:.08;
  border:3px solid #444444;
}
.icon-info{
  position:absolute;
  width:100%;
  padding-top:4rem;
}
.skills-link{
  color:$base-1b;
  text-decoration: none;
}
.skills-link:hover{
  color:lighten($base-1b, 5%);
}



//WORKS
.list-style-none{
  list-style: none;
}
.mw-350{
  max-width:350px;
}
.m-lr-a{
  margin:0 auto;
}



//FOOTER
.dribbble{
  width:40px;
}



//TOOLTIP
:root{
  --tooltip-margin: 30px;
  --tooltip-marginL: 5px;
  --tooltip-marginR: 5px;
  --tooltip-arrow-size: 6px;
}
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}
//TOOLTIP POSITIONING
.Tooltip-Tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: #ffffff;
  background: $base-2a;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
}
//TOOLTIP TRIANGLES
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}
//TOOLTIP TOP
.Tooltip-Tip.top {
  top: calc(var(--tooltip-margin) * -1);
}
.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: $base-2a;
}
//TOOLTIP LEFT
.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + var(--tooltip-marginL));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
.Tooltip-Tip.left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: $base-2a;
}
//TOOLTIP RIGHT
.Tooltip-Tip.right {
  left: calc(100% + var(--tooltip-marginR));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
.Tooltip-Tip.right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: $base-2a;
}
// .Tooltip-Tip.bottom {
//   bottom: calc(var(--tooltip-margin) * -1);
// }
// .Tooltip-Tip.bottom::before {
//   bottom: 100%;
//   border-bottom-color: #000000;
// }


//UNDERLINE ANIMATION
a.fancy-underline, .fancy-underline{
  position: relative;
}
a.fancy-underline:before, .fancy-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $base-1c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.fancy-underline:hover:before, .fancy-underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
